

.opacity {
padding-left:20px;
padding-top:20px;
text-align:center;
}

.button {
    display: block;
    text-align: center;
    width: 500px;
    background: black;
    padding: 10px;
    margin: 10px auto;
}

.opacity {
margin: 15px 0;
font-size: 1.8em;
font-family: Georgia;
font-weight: 30;
}

