
* {
    box-sizing:border-box;
}

body{
    font-family: 'Monserrat', sans-serif;
    margin: 0;
}

img{
    display: block;
    width: 100%;
    max-width: 100%;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
}

.container--flex {
    display: flex;
}

.column{
    width: 100%;
}

.today-recetas .column {
    margin-bottom: 30px;
}

.today-recetas__img {
    margin: auto;
    max-width: 350px;
}

.today-recetas__title {
    text-align: center;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 20px;
}

.column--50-25 {
  width: 49%;
}

.today-recetas .column {
    border: 5px solid #ddd;
}

.today-recetas__img {
    height: 200px;
    
}









.opacity {
padding-left:20px;
padding-top:20px;
text-align:center;
}

.button {
    display: block;
    text-align: center;
    width: 500px;
    background: black;
    padding: 10px;
    margin: 10px auto;
}

.opacity {
margin: 15px 0;
font-size: 1.8em;
font-family: Georgia;
font-weight: 30;
}

